<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>


<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">สร้างรายการขาย (จ่ายออก)</h3>
    </div>
    <%= render "form", order: @order %>
  </div>
</div>
